/* у меня шрифт Roboto не работаeт и прходиться подлючать */
@font-face {
    font-weight: 400; 
    font-family: Roboto;
    src: url("./Roboto-Regular.ttf");
}
@font-face {
    font-weight: 900; 
    font-family: Roboto;
    src: url(".Roboto-Bold.ttf");
}

:root{
    --header-bg-color: rgba(217, 217, 217, 1);
    --button-color: rgba(255, 221, 45, 1);
    --button-color-hover: rgba(252, 197, 33, 1);
    --button-color-activ: rgba(250, 182, 25, 1);
    --main-bg-color:rgba(78, 70, 70, 0.18);
    --line-color:rgba(0, 0, 0, 1);
    --form-bg-color:rgba(217, 217, 217, 1);
    --line-weight: 1%;
    --line-height-min: 100vh;
    --line-height-max: 100%;
}

.main-container{
    background-color: var(--main-bg-color);
    min-height: var(--line-height-min);
    max-height: var(--line-height-max);
}
.main-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1360px;
    background-color: white;
}
.header-blok{
    height: 64px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: center;
}
.header-blok__all{
    display: flex;
    justify-content: space-between;
    width: 1360px;
}
.main-container{
    display: flex;
    justify-content: center;
    /* width: 1360px; */
}
.header-blok__main {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
}
.header-blok__main_left{
    display: flex;

}
.text__font{
    font-family: Roboto; 
    
}
.text__block{
    margin: 0; 
    padding: 0;
    border: 0;
}
.text_size{
    font-size: 13px; 
    line-height: 20px;  
}
.text_h{
    font-size: 20px;
    line-height: 20px;
      
}
.text_center, .block_center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-block-block__title{
    width: 100%;
    padding: 10px 0px 10px 20px;
}
.header-blok__text{
    padding: 27px 34px 15px 34px;
}
.header-blok__main_right{
    display: flex;
    padding: 10px 24px 10px 24px;
}
.header-blok__button{
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0; 
    background: var(--button-color);
    border-radius: 8px 8px;
    transition: all 300ms ease;
    padding: 9px 11px 9px 11px;
}
.card-block__button_d{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    /* padding: 0px 11px 0px 11px; */
}
.card-block__button{
    display: flex;
    border: 0; 
    background: var(--form-bg-color);
    border-radius: 8px 8px;
    transition: all 300ms ease;
    padding: 9px 11px 9px 11px;
}
.header-blok__button:hover {
    background-color:var(--button-color-hover);
}
.header-blok__button:active {
    background: var(--button-color-activ);
    /* border: 2;  */
}


.form-block{
    box-sizing: border-box;
    width: 40%;
    padding: 24px 10px  10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid var(--line-color);
    row-gap: 12px;  
}
.line-block{
    box-sizing: border-box;
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    width: var(--line-weight);
    min-height: var(--line-height-min);
    max-height: var(--line-height-max);
    background-color: var(--main-bg-color);
    /* transform: rotate(90deg); */
}
.left-line-block{
    box-sizing: border-box;
    /* border-left: 1px solid var(--line-color); */
    border-right: 1px solid var(--line-color);
    width: var(--line-weight);
    min-height: var(--line-height-min);
    max-height: var(--line-height-max);
    background-color: var(--main-bg-color);
    /* transform: rotate(90deg); */
}
.right-line-block{
    box-sizing: border-box;
    border-left: 1px solid var(--line-color);
    /* border-right: 1px solid var(--line-color); */
    width: var(--line-weight);
    min-height: var(--line-height-min);
    max-height: var(--line-height-max);
    background-color: var(--main-bg-color);
    /* transform: rotate(90deg); */
}
.cart-block{
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    border-top: 1px solid var(--line-color);
    padding:  24px 10px  10px 10px;
    width: 57%;
    align-content: flex-start;
}
.showcase-block{
    /* width: 49.25%; */
    box-sizing: border-box;
    width: 100%;

    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    row-gap: 10px;
    column-gap: 10px;
}
.form-block__card{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    border-radius: 8px 8px;
    border: 1px solid var(--line-color);    
    
    padding: 10px 10px 10px 10px;   
}
#card-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    row-gap: 12px;  
    padding: 10px 0px 10px 0px;
}
.form-block__input{
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px 16px;
    border: 0;
    padding: 10px 0px 10px 10px;
    background-color: var(--form-bg-color);
    height: 48px;
}
.form-block__textarea{
    box-sizing: border-box;
    width: 100%;
    border-radius: 16px 16px;
    border: 0;
    padding: 10px 0px 10px 10px;
    background-color: var(--form-bg-color);
    height: 118px;
    resize: none;
}

.form-data{
    box-sizing: border-box;
    width: 300px;
    height: 153px;
    border-radius: 16px 16px;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
}
.form-block_in_card{
    display: flex;
    flex-wrap: wrap;
}
.button_gap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}
.form-block-left{
    box-sizing: border-box;
    width: 50%;
}
.form-block-right{
    box-sizing: border-box;
    width: 50%;
}
.form-block__img{   
    width: 100%;
    height: 100%;
    object-fit:contain;
    height: 60px;
}
.button-block{
    display: flex;
    border: 0; 
    background: rgba(217, 217, 217, 1);
    border-radius: 8px 8px;
    transition: all 300ms ease;
    padding: 2px 2px 2px 2px;
}
.invisible{
    display: none;
}

#preloader {
    /* position: fixed; */
    /* display: none; */
    padding-left: 43%;
    padding-top: 10%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
   
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #cccccc;
    border-top-color: #1a1a1a;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
   
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}